<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>로그인</title>
</head>
<body>
<h2>로그인</h2>

<form action="/api/login" method="post">
    <div>
        <label for="loginId">이메일:</label>
        <input type="text" id="loginId" name="loginId" required />
    </div>

    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required />
    </div>

    <div>
        <button type="submit">로그인</button>
    </div>
</form>

<hr />
<p>소셜 로그인</p>
<a href="/oauth2/authorization/google">구글 로그인</a><br />
<a href="/oauth2/authorization/kakao">카카오 로그인</a>
</body>
<script>
    document.querySelector("form").addEventListener("submit", async function(e) {
        e.preventDefault(); // 기본 form 전송 방지

        const loginId = document.getElementById("loginId").value;
        const password = document.getElementById("password").value;

        const response = await fetch("/api/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ loginId, password })
        });

        const result = await response.json();
        console.log("JWT:", result.accessToken);
    });
</script>
</html>
